*{
    box-sizing: border-box;
}
.header {
    /* border-bottom: 2px solid rgb(46, 115, 172); */
    text-align: left;
    /* margin: 5px; */
    padding: 10px;
    background-image: linear-gradient(to bottom right, rgb(174, 184, 46), rgb(80, 80, 12));
    
}
.form {
    /* height:400px; */
    border: 1px solid black;
}
.layout {
    
    /* height:400px; */
    /* border: 1px solid black; */
   

}
.footer {
    text-align: center;
    background-color: gray;
    /* margin-top: 10px; */
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}
form input, form select {
    margin-top: 30px;
}
form input[type=submit]{
    background-color: green;
}
.margin-top-5 {
    margin-top: 20px;
}
.filter-label{
    font-size: large;
    font-weight: bold;
    color: rgb(33, 61, 14);
}
.card {
    background-color: rgb(207, 201, 201);
    margin-bottom: 5px;
}
.container {
    padding-bottom: 70px;
}